@model VideoSchool.Models.Units.User

@{
    ViewBag.Title = "ActivatePassword";
}

<h2>ActivatePassword</h2>

@if(ViewBag.error != "")
{
    <mark>@ViewBag.error</mark>
}

@if (ViewBag.success == "1")
{
    <div>
        Your new password activated!
        <br/>
        You can Log IN now.
        <br/><br/>
        @Html.ActionLink("Вход", "Index", "Login", new { }, new { @class = "btn btn-primary" })
    </div>
}
