@model VideoSchool.Models.Units.User

@{
    ViewBag.Title = "Request Password";
}

<h2>ChangePassword</h2>

@if(Session["user_id"] == null)
{
    using(Html.BeginForm())
    {
        <div style="color: red">
            @ViewBag.error
        </div>
        <div class="form-group">
            Your E-mail:
            @Html.TextBox("email", Model.email, new { @class = "form-control input-lg" })
        </div>
        <div class="form-group">
            New Password:
            @Html.TextBox("passw", Model.passw, new { @class = "form-control input-lg" })
        </div>
        <input type="submit" value="Change my password" class="btn btn-success" />
        <small>
            After pressing this button you will receive an e-mail.
            Press a confirmation link from email to activate new password.
        </small>

    }
    
}