<div class="navbar-inner" style="margin: 0 50px 0 50px;">
    <ul class="nav navbar-nav navbar-left">
@foreach(var x in Model.shared.menu.items)
{ 
        <li><a href="@x.href" class="@x.style">@x.text</a></li>
}
    </ul>
    <ul class="nav navbar-right" style="width: 100px">
        <li><a href="/Help" class="navbar-brand"><span class="glyphicon glyphicon-bell" style="color: red"></span></a></li>
        <li><a href="/Help" class="navbar-brand"><span class="glyphicon glyphicon-envelope" style="color: red"></span></a></li>
    </ul>
</div>