<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Programming courses">
    <meta name="author" content="Евгений Витольдович">
    <link rel="icon" href="~/images/logo.ico">

    <title>Video School</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/_Layout.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        @Html.Partial("_Header")
    </nav>

    <nav class="navbar navbar-default">
        @Html.Partial("_Menu")
    </nav>

    <div>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p> @RenderBody()</p>
        </div>
@*
        <div class="col-md-3">
            <div id="messages">
                <div id="messages-title">Messages</div>
                <div id="messages-list">
                    <div class="message">
                        <div class="user-photo"><img src="~/images/default-person.png" width="60px" height="60px"></div>
                        <div class="title">Test message</div>
                        <div class="text">All works fine! ~~~~~~~~~~~~~~~~~~~~ ...</div>
                        <button class="reply">Reply</button>
                    </div>
                    <div class="message">
                        <div class="user-photo"><img src="~/images/default-person.png" width="60px" height="60px"></div>
                        <div class="title">Test message namba Tu!</div>
                        <div class="text">Aga! I did it! :~)</div>
                        <button class="reply">Reply</button>
                    </div>
                </div>
            </div>

            <div id="events">
                <div id="events-title">Event</div>
                <div id="event">
                    <div id="event-icon"><img src="~/images/event-icon.png" width="60px" height="60px"></div>
                    <div id="event-text"><a href="#">Новый курс "Сетевые технологии"</a></div>
                </div>
            </div>
        </div>
*@
    </div>
    <footer class="footer col-md-12">
        <p class="text-muted">© 2016 Video School 2.0</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/_Layout.js"></script>
</body>
</html>