
@{
    ViewBag.Title = "PasswordNew";
}

<h2>Password New</h2>

<div class="col-lg-12 row">
    <!--<h3 class="alert-link">Main:</h3>-->
    <span class="field-image input-group-addon menuedit-span "><i class="glyphicon glyphicon-check"><strong> Old Password:</strong></i></span>
    @Html.Password("passwordOdl", Model.main, new { @class = "form-control" })
</div>
<div class="col-lg-12 row">
    <!--<h3 class="alert-link">Main:</h3>-->
    <span class="field-image input-group-addon menuedit-span "><i class="glyphicon glyphicon-check"><strong> New Password:</strong></i></span>
    @Html.Password("passwordNew", Model.main, new { @class = "form-control" })
</div>
<div class="col-lg-12 row">
    <!--<h3 class="alert-link">Main:</h3>-->
    <span class="field-image input-group-addon menuedit-span "><i class="glyphicon glyphicon-check"><strong> New Password Yes:</strong></i></span>
    @Html.Password("passwordNewYes", Model.main, new { @class = "form-control" })
</div>

<div class="col-lg-12 row">
    <input type="submit" value="Save changes" title="Save changes of the users" class="btn btn-success" />
    @Html.ActionLink("Delete", "DelMenu", "Cabinet", new { id = Model.id }, new { @class = "btn btn-danger" })
</div>

