@model VideoSchool.Models.Units.UserPassw

@{
    ViewBag.Title = "Password";
}

<h2>Password</h2>

@using (Html.BeginForm("Password", "Cabinet", FormMethod.Post))

{ 
<div class="col-lg-12 row">
    <!--<h3 class="alert-link">Main:</h3>-->
    <span class="field-image input-group-addon menuedit-span " style="width: 180px; text-align: left;"><i class="glyphicon glyphicon-check"><strong> Old Password:</strong></i></span>
    @Html.Password("oldPassword", Model.oldPassword, new { @class = "form-control" })
</div>
<div class="col-lg-12 row">
    <!--<h3 class="alert-link">Main:</h3>-->
    <span class="field-image input-group-addon menuedit-span " style="width: 180px; text-align: left;"><i class="glyphicon glyphicon-check"><strong> New Password:</strong></i></span>
    @Html.Password("newPassword", Model.newPassword, new { @class = "form-control" })
</div>
<div class="col-lg-12 row">
    <!--<h3 class="alert-link">Main:</h3>-->
    <span class="field-image input-group-addon menuedit-span " style="width: 180px; text-align: left;" ><i class="glyphicon glyphicon-check"><strong> Confirm Password:</strong></i></span>
    @Html.Password("newPassword1", Model.newPassword1, new { @class = "form-control" })
</div>

<div class="col-lg-12 row">
    <input type="submit" value="Change password" title="Save new user's 'password" class="btn btn-success" />
    @Html.ActionLink("Cancen", "Index", "Login", new { id = Model.id }, new { @class = "btn btn-danger" })
</div>
}